<%- include('partials/header', { title: 'Admin Page', user: user }); %>
    <script>
        function run(){
            let code = $('#code')[0].value;
            let type = $('#evaltype')[0].value;
            $.post('/admin/eval', { code, type }, (data, status) => {
                //we got a response
                let flag = '';
                if(!data.success) flag = 'Error: ';
                $('#output').text(`${flag}${data.out}`);
            });
        }
    </script>
    <textarea name="" id="code" cols="40" rows="10"></textarea><br>
    Code type: 
    <select name="" id="evaltype">
        <option value="sql">SQL</option>
        <option value="js">JavaScript</option>
    </select>
    <button onclick="run();">Eval</button>
    <br><br><br>
    <strong>Output:</strong><br>
    <p id="output"></p>
<%- include('partials/footer'); %>