<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | SSMT</title>
</head>
<body>
    <h1>SSMT Homepage</h1>
    <br><br>
    <% if(user){ %>
        Logged in as <%= user %><br>
        <a href="/posts/new">Write a new post!</a><br>
        <a href="/logout">Logout</a><br>
    <% } else { %>
        You are not logged in!<br>
        <a href="/login">Login/Register!</a><br>
    <% } %>
    <br><a href="/posts">See recent posts</a>
</body>
</html>