<%- include('partials/header', { title: 'Homepage', user: user }); %>
    <div class="center-align">
        <h1>SSMT Homepage</h1>
        <h4>I'm not really sure what to put here.</h4>
    </div>
    <br><br><br><br>
<%- include('partials/footer'); %>