<%- include('../partials/header', { title: 'Recent Posts', user: null }); %>
    <h1 class="center-align">Token sent!</h1>
    <p class="center-align">
        <strong>Check your email for the login URL!</strong>
        <br>
        <small>If it isn't in your main inbox, try checking your spam!</small>
        <br>
    </p>
<%- include('../partials/footer'); %>