<%- include('partials/header', { title: 'Homepage', user: user, desc: 'SSMT Homepage!' }); %>
    <div class="center-align">
        <h1>SSMT Homepage</h1>
        <h4>I'm not really sure what to put here.</h4>
        <img src="https://coubsecure-s.akamaihd.net/get/b153/p/coub/simple/cw_timeline_pic/dc084aa3631/dffafd7f8fc57eeaf2c71/big_1482287026_image.jpg"><br><br>
        <p>
            Since you're here, here's some stats: <br>
            There are currently <strong><%= stats.users %></strong> user(s) and <strong><%= stats.posts %></strong> post(s).
        </p>
    </div>
    <br><br><br><br>
<%- include('partials/footer'); %>
