html {
    background-color: black;
}
body {
    color: white;
}
.card {
    background-color: black;
}
nav, .page-footer {
    background-color: darkblue;
}
button {
    color: black;
}
.tabs {
    color: white;
    background-color: black;
}
a {
    color: gray;
}
option, select {
    color: white;
    background-color: black;
}