body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.container, .card-content, p {
    word-wrap: break-word;
}
textarea {
    min-height: 200px;
}
img {
    max-height: 30%;
    max-width: 30%;
    height: 25%;
    width: auto;
}