<%- include('../partials/header', { title: '401', user: user, desc: 'You do not have permission to access this page!' }); %>
    <div class="center-align">
        <h1>401 Unauthorized</h1>
        <h3>You don't have permission to access that page!</h3>
        <br><br><br>
        <strong>If you think this is a bug, report it on the <a href="https://github.com/MikeModder/ssmt">GitHub repository!</a></strong>
        <br><br><br>
    </div>
<%- include('../partials/footer'); %>