<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 404 | SSMT</title>
</head>
<body>
    <h1>That page wasn't found!</h1>
    <p>Sorry, but that page wasn't found on the server! <a href="/">Head back to the homepage?</a></p>
</body>
</html>