<%- include('../partials/header', { title: '404', user: user, desc: 'That page was not found on the server!' }); %>
    <div class="center-align">
        <h1>Page not found!</h1>
        <h3>The page you requested was not found!</h3>
        <br><br><br>
        <strong>If you think this is a bug, report it on the <a href="https://github.com/MikeModder/ssmt">GitHub repository!</a></strong>
        <br><br><br>
    </div>
<%- include('../partials/footer'); %>