<%- include('../partials/header', { title: '404', user: user }); %>
    <form action="/posts/new" method="post">
        Text: <input type="text" name="text" id="text">
        <input type="submit" value="Submit">
    </form>
    <br><br>
<%- include('../partials/footer'); %>