<%- include('../partials/header', { title: 'New Post', user: user, desc: 'Write a new post on SSMT!' }); %>
    <h2 class="center-align">Write a new post!</h2>
    <h5 class="center-align">When posting, ensure all content is kept SFW (Safe for Work)!</h5>
    <br><br>
    <div class="container">
        <div class="input-field center-align col6">
            <form action="/posts/new" method="post">
                Write your post here:
                <textarea name="text" id="text" cols="30" rows="10" style="display: inline;"></textarea>
                <label for="text">Enter the post content here! <br></label>
                <button type="submit"><i class="small left material-icons">send</i>Submit</button>
            </form>
        </div>
    </div>
    <br><br>
<%- include('../partials/footer'); %>